body {
    background-color: #22f422;
}

h1 { 
    text-align: center;
    color: black;
    letter-spacing: 3px;
    font-family: "Lucida Console", Monaco, monospace;
}

footer {
    text-align: center;
    margin: 0px 0px 0px 0px;
}

#grid {
    display: grid;
    height: 30rem;
    width: 30rem;
    margin: 0 auto;
    /*position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #2196F3;   */
}

#toy {
    display: block;
    margin: auto;
    background-color: red;
    height: 45rem;
    width: 40rem;
    border-radius: 20px;
    padding-top: 4rem;
}

* { /* This makes sure that the padding and border are included in the total width and height of the elements. */
    box-sizing: border-box;
  }